.modal-loading-open {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Lớp nền mờ */
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
}

/* Hộp loading chính */
.modal-loading {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    height:fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    max-height: 100vh;
    text-align: center;
}

/* Khi đang xử lý thì hiển thị */
.modal-loading.processing {
    display: block;
}

/* Spinner */
.spinner-ring {
   border: 4px solid rgba(0,0,0,0.1);
   border-left-color: #007bff;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   animation: spin 1s linear infinite;
   margin: auto;
   display:none;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
